
.changeProfilePicLink {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 1.5rem;
    margin-top: 0.3rem;
}

.changePageLink,
.changePageBtn {
    display: block;
    margin: auto;
    width: 60%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--edit-btn-text);
    background-color: var(--edit-btn);
    box-shadow: var(--shadow);
    border: 1px solid var(--text);
    border-radius: 0.8rem;
    padding: 0.6rem 0.8rem;
    margin-top: 0.5rem;
    cursor: pointer;
    text-align: center;
}

.changePageBtn {
    padding: 0.75rem 0.95rem;
    width: 67%;
    font-size: 0.95rem;
}


.changePageLink:hover,
.changePageBtn:hover {
    background-color: var(--bg);
    border: 1px solid var(--text);
    color: var(--text);
}

.signOutTitle,
.deleteAccountTitle {
    font-size: 0.8rem;
    color: var(--text);
}

.space {
    margin-top: 3rem;
}

.space2 {
    margin-top: 0.5rem;
}

.signOut,
.deleteAccount {
    border: none;
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.03rem;
    color: var(--abort-btn);
    cursor: pointer;

}

.deleteTitleUser {
    font-size: 0.8rem;
    font-weight: 700;
}

.deleteTitle {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: var(--text);
    border-bottom: 1px solid var(--text);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.deleteTitle span {
    font-weight: 700;
}

article {
    margin-bottom: 1rem;
}

.confirmBtnContainer {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 0.5rem auto auto auto;
}

.confirmBtnYes,
.confirmBtnNo,
.confirmBtnStay,
.confirmBtnBye {
    border: none;
    color: var(--text-light);
    width: 2.8rem;
    height: 1.8rem;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05rem;
    cursor: pointer;
    box-shadow: var(--shadow);


}

.confirmBtnYes,
.confirmBtnStay:hover {
    background-color: var(--submit-btn);
}

.confirmBtnNo,
.confirmBtnBye:hover {
    background-color: var(--abort-btn);
}

.confirmBtnStay,
.confirmBtnBye {
    background-color: var(--btn);
    width: 3.1rem;
    height: 2.1rem;
}

.confirmBtnBye,
.confirmBtnStay {
    font-size: 1rem;
    padding: 1rem 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmContainer {
    margin-top: 1.5rem;
}

.confirmDeleteContainer {
    width: 80%;
    margin: auto;
}

.confirmDeleteBtnContainer {
    display: flex;
    width: 45%;
    justify-content: space-around;
    margin: 1.5rem auto auto auto;
}

/* ------------------------------------------ */
/* ---------- CHANGE PICTURE MODAL ---------- */
/* ---------- DELETE ACCOUNT MODAL ---------- */
/* ------------------------------------------ */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 31, 69, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modalContent {
  background: var(--bg-dark);
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  max-width: 400px;
  width: 90%;
  color: var(--text-light);
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  filter:   var(--back-btn-icon);
}



/* ----------------------------------- */
/* ---------- MOBILE LAYOUT ---------- */
/* ----------------------------------- */
@media (max-width: 600px) { 

    /* .confirmDeleteContainer{
        width: 90vw;
    } */

    .confirmBtnBye {
        background-color: var(--abort-btn);
    }

    .confirmBtnStay {
        background-color: var(--submit-btn);
    }


}