/* ---------------------------------------- */
/* ---------- CONTENT CONTAINERS ---------- */
/* ---------------------------------------- */
.headerContainer {
    text-align: center;
    width: 400px;
    height: 200px;
    margin: 2rem auto 0 auto;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    margin: 1rem auto;
}


/* --------------------------------- */
/* ---------- BACK BUTTON ---------- */
/* --------------------------------- */
.backBtn {
    width: 3.5rem;
    padding: 0.4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--back-btn);
    border: none;
    border-radius: 0.8rem 0.8rem 0 0.8rem;
    cursor: pointer;
    box-shadow: var(--shadow);
    position: fixed;
}

.backBtnIcon {
    width: 1.5rem;
    filter: var(--back-btn-icon);
}

/* ------------------------------ */
/* ---------- USERNAME ---------- */
/* ------------------------------ */
.username,
.title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.3rem;
    color: var(--text);
    letter-spacing: 0.05rem;
    padding-top: 1.8rem;
    margin-bottom: 1.8rem;
}

/* ---------------------------------- */
/* ---------- INPUT FIELDS ---------- */
/* ---------------------------------- */
/* 
.fieldgroup 
    .labelForInput
    .inputFieldContainer
        .inputField
        (.displayPasswordBtn
            .displayPasswordBtnIcon)
*/
.fieldGroup{
    text-align: left;
    margin-bottom: 3%;
}

.labelForInput {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text);
}

.inputFieldContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--input-field);
    border-radius: 0 0.8rem 0.8rem;
    padding: 2%;
}

.inputField {
    width: 100%;
    border: none;
    background: none;
    padding: 2%;
    color: var(--text);
}

.inputField::placeholder {
    color: var( --input-placeholder);
    font-size: 0.9rem;
    padding: 0;
}

.displayPasswordBtn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.displayPasswordBtnIcon {
    width: 1.5rem;
    filter: var(--display-pw-icon);
}

/* ----------------------------------- */
/* ---------- SUBMIT BUTTON ---------- */
/* ----------------------------------- */
.submitBtn {
    background-color: var(--submit-btn);
    padding: 0.4rem 1.1rem;
    border: none;
    border-radius: 0.8rem;
    margin-top: 2rem;
    cursor: pointer;
    color: var(--text-light);
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: var(--shadow);

}

.submitBtn:disabled {
    opacity: 0.8;
    background-color: var(--submit-disabled);
    cursor: not-allowed;
}

.submitBtnIcon {
    width: 1.7rem;
    filter: brightness(0) invert(1);
}


/* ------------------------------ */
/* ---------- MESSAGES ---------- */
/* ------------------------------ */
.message {
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--text);
}

.errorMessage {
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: red;
}




/* ----------------------------------- */
/* ---------- MOBILE LAYOUT ---------- */
/* ----------------------------------- */
@media (max-width: 600px) { 

    .headerContainer {
        width: 90vw;
    }
    .contentContainer{
        width: 90vw;
    }

} 