.toggleThemeBtn {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.darkMode,
.lightMode {
    height: 100%;
    opacity: 0.8;
}

.lightMode {
    filter: invert(91%) sepia(29%) saturate(1233%) hue-rotate(334deg) brightness(105%) contrast(97%);
}

/* ----------------------------------- */
/* ---------- MOBILE LAYOUT ---------- */
/* ----------------------------------- */
@media (max-width: 600px) {
  .toggleThemeBtn {
    height: 1.8rem;
  }

}