.competitionsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    margin: auto;
}

/* BUTTON CONTAINER  

        style={{
          display: "flex",
          gap: 10,
          marginBottom: 20,
          justifyContent: "center",
          alignItems: "center",
          backgroundColor: 'red'
        }}


BUTTON STYLING

          style={{ borderRadius: 10, height: "39px", width: "65px" }}



SEARCH FIELD CONTAINER 
          style={{
            marginBottom: 20,
            display: "flex",
            gap: 10,
            justifyContent: "center",
            alignItems: "center",
            backgroundColor: 'red'
          }}

    DIV ?? style={{ position: "relative", background: 'red' }}
       



SEARCHFIELD
              style={{
                width: "348px",
                height: "39px",
                borderRadius: "10px",
                padding: "0 10px",
              }}

        
        
BUTTON CLEAR
              style={{
                position: "absolute",
                right: "20px",
                width: "10px",
                height: "18px",
                top: "40%",
                transform: "translateY(-50%)",
                border: "none",
                background: "transparent",
                fontSize: "16px",
                cursor: "pointer",
                color: search ? "#fff" : "#666",
                opacity: 1,
              }}
        
        
        
        
*/
