/* ----- PAGE LAYOUT ----- */
.competitionsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    margin: auto auto 100px auto;
}

/* ----- BUTTONS ----- */
.buttonContainer,
.searchFieldContainer {
  margin: auto auto 1rem auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.buttonContainer button {
  width: 5.5rem;
  color: var(--text-light);
  background-color: var(--btn);
  border: 1px solid var(--btn);
  border-radius: 0.7rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 8%;
}

.buttonContainer button:hover:not(:disabled),
.buttonContainer .active {
  background-color: var(--bg);
  border: 1px solid var(--text);
  color: var(--text);
  font-weight: 600;
  cursor: pointer;
}

/* ----- INPUT FIELD ----- */
.inputFieldContainer {
  width: 100%;
}

.clearInput {
  background: none;
  border: none;
  font-size: 1rem;
  color: var( --input-placeholder);
}

/* ----- NO CONTENT ----- */
.noContent {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
}



/* ----------------------------------- */
/* ---------- MOBILE LAYOUT ---------- */
/* ----------------------------------- */
@media (max-width: 600px) { 

  .buttonContainer,
  .searchFieldContainer { 
    width: 75%
  }

} 