.container {
  text-align: center;
  margin: 0;
  padding-top: var(--main-margin);
  padding-bottom: 100px;
}

.container h1 {
  font-weight: 500;
  font-size: 1.9rem;
  margin-bottom: var(--main-margin);
}

.container h1 span {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.box {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: white;
  position: relative;
  margin-top: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: white;
}

.dots {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
  margin-top: 20px;
}

.activeDot {
  background: var(--text);
}

 .competitionButton {
   width: 10.5rem;
  color: var(--text-light);
  background-color: var(--btn);
  border: 1px solid var(--btn);
  border-radius: 0.7rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 8%;
  margin-top: 20px;
}

.competitionButton:hover {
  background-color: var(--bg);
    border: 1px solid var(--text);
    color: var(--text);
    font-weight: 600;
    cursor: pointer;
}

.content {
  width: 100%;
  height: 100%;
  transition: opacity 300ms ease, transform 300ms ease;
}

.fadeIn {
  opacity: 1;
  transform: translateX(0);
}

.fadeOut {
  opacity: 0;
  transform: translateX(-10px);
}

.signupButton {
width: 10.5rem;
  color: var(--text-light);
  background-color: var(--btn);
  border: 1px solid var(--btn);
  border-radius: 0.7rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 8%;
  margin-top: 10px;
}

.signupButton:hover {
    background-color: var(--bg);
    border: 1px solid var(--text);
    color: var(--text);
    font-weight: 600;
    cursor: pointer;
}