img {
    width: 2rem;
}
/* 
.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.themesContainer {
    width: 70%;
    height: 50px;
}

.themesContainer label {
    display: block;
} */