:root {
  color: var(--text);
  background: var(--bg);

  /* ----- COLORS ----- */
  --text: #001F45;
  --text-light: #F2F1EB;
  --text-dark: #001F45;
  --bg: #F2F1EB;
  --bg-dark: #001F45;
  --bg-light: #F2F1EB;
  --comp-card-bg: #F2F1EB;
  --border: #5D8996;

  /* ----- MODAL ----- */

  --modal-overlay: rgba(6, 70, 134, 0.3);
  --modal-bg: #5D8996;
  --modal-border: #064686;
  
/* ----- FORMS ----- */
  --input-field: #B0CBC1;
  --input-placeholder: #5D8996;
  --display-pw-icon: brightness(0) saturate(100%) invert(56%) sepia(15%) saturate(634%) hue-rotate(146deg) brightness(92%) contrast(89%);
  --submit-btn: green;
  --submit-disabled: #C3C3C3;
  --abort-btn: red;

/* ----- BUTTONS ----- */
  --btn: #064686;
  --back-btn: #5D8996;
  --back-btn-icon: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(188%) hue-rotate(15deg) brightness(104%) contrast(90%);
  --edit-btn: #064686;
  --edit-btn-text: #F2F1EB;
  --shadow: 0 4px 12px rgba(93, 137, 150, 0.35);

  /* ----- NAVIGATION -----  */
  --navigate-menu: #064686;
  /* --navigate-icon: brightness(0) saturate(100%) invert(56%) sepia(15%) saturate(634%) hue-rotate(146deg) brightness(92%) contrast(89%); */
  --navigate-icon: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(188%) hue-rotate(15deg) brightness(104%) contrast(90%) opacity(60%);
  --navigate-text: #B0CBC1;

  /* ----- FONTS ----- */
  --sans: 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Archivo', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color-scheme: light dark;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

[data-theme="dark"] {
  --bg: #001F45;
  --text: #F2F1EB;
  --shadow: none;
  --input-placeholder: #B0CBC1;
  --input-field: #5D8996;
  --bg-dark: #001229;
  --comp-card-bg: rgba(6, 70, 134, 0.3);
  --border: #5D8996;
  



  /* ----- MODAL ----- */
  --modal-overlay: rgba(0, 31, 69, 0.8);
  --modal-bg: #001229;
  --modal-border: #5D8996;

  --display-pw-icon: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(188%) hue-rotate(15deg) brightness(104%) contrast(90%);
}

body {
  margin: 0;
}

p {
  margin: 0;
}

* {
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

