:root {
  color: var(--text);
  background: var(--bg);
  --main-margin: 100px;

  /* ----- FONTS ----- */
  --sans: 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Archivo', system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 20px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;

  /* ----- TEXT ----- */
  --text: #171616;
  --text-light: #F2F1EB;
  --text-dark: #171616;

  /* ----- BACKGROUNDS ----- */
  --bg: #F3EEE5;
  --bg-dark: #001F45;
  --comp-card-bg: #F2F1EB;
  --nav-bg: #F2F1EB;
  --image-bg: url("assets/images/background_light.png");

  /* ----- OTHER ----- */
  --shadow: 0 4px 12px rgba(93, 137, 150, 0.35);
  --border: #2C2F4A;

  /* ----- COMPETITION CARDS ----- */
  --card-header-border-size: 1px;  
  --card-header-border-style: outset;  
  --card-header-border: #D9CAB8;
  --card-header-bg: 
    linear-gradient(
    -135deg,
      #F3EEE5 0%,
      #F3EEE5 25%,
      #E8DED0 58%,
      #D7C8B5 100%
    );
  --card-content-padding: 2.4rem;

  /* ----- ICONS ----- */
  --iconToggleTheme: none;
  --iconLight: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(188%) hue-rotate(15deg) brightness(104%) contrast(90%);

  /* ----- BUTTONS ----- */
  --submit-btn: green;
  --abort-btn: red;

/* ----- BUTTONS ----- */
  --btn: #064686;
  --back-btn: #5D8996;
  --back-btn-icon: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(188%) hue-rotate(15deg) brightness(104%) contrast(90%);
  --edit-btn: #064686;
  --edit-btn-text: #F2F1EB;
  --shadow: 0 4px 12px rgba(93, 137, 150, 0.35);
  --moderator-btn: #7c3aed;

  /* ----- NAVIGATION -----  */
  --navigate-menu: #064686;
  /* --navigate-icon: brightness(0) saturate(100%) invert(56%) sepia(15%) saturate(634%) hue-rotate(146deg) brightness(92%) contrast(89%); */
  --navigate-icon: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(188%) hue-rotate(15deg) brightness(104%) contrast(90%) opacity(60%);
  --navigate-text: #B0CBC1;

  /* ----- FONTS ----- */
  --sans: 'Inter', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Archivo', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color-scheme: light dark;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  html,
  body,
  #root {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
  }

  #root {
      display: flex;
  }

  .app {
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .mainContent {
      flex: 1;
  }

  .grecaptcha-badge {
    display: none !important;
  }
}

/* ------------------------------ */
/* ---------- DARKMODE ---------- */
/* ------------------------------ */
[data-theme="dark"] {

  /* ----- BACKGROUNDS ----- */
  --bg: #000000;
  --bg-dark: #001229;
  --comp-card-bg: #171616;
  --nav-bg: #171616;
  --image-bg: url("assets/images/background_dark.png");

  /* ----- TEXT ----- */
  --text: #F2F1EB;

  /* ----- OTHER ----- */
  --border: #4A4A4A;
  --shadow: none;

  /* ----- COMPETITION CARDS ----- */
  --card-header-border-size: 2px;  
  --card-header-border-style: solid;  
  --card-header-border: #171616;  
  --card-header-bg:     
    linear-gradient(
      135deg,
      #0D0C0C 0%,
      #0D0C0C 25%,
      #0b1220 58%,
      #08152b 100%
    );

  /* ----- ICONS ----- */
  --iconToggleTheme: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(188%) hue-rotate(15deg) brightness(104%) contrast(90%);
}

body { margin: 0; }
p { margin: 0; }

* {
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

/* ----- THEMES COLORS ----- */
.PortraitColor {background-color: #D2A4A4;}
.LandscapeColor {background-color: #ACD2A4;}
.StreetColor {background-color: #A4B3D2;}
.WildlifeColor {background-color: #A4D2B1;}
.MacroColor {background-color: #D2C7A4;}
.ArchitectureColor {background-color: #B0A4D2;}
.NatureColor {background-color: #7FBF7F }
.TravelColor {background-color: #F2B66D;}
.MinimalistColor {background-color: #D9D9D9;}
.Color {background-color: #D2C7A4;}
.BlackWhiteColor {background-color: #4A4A4A; color: var(--text-light) !important;}
.LongExposureColor {background-color: #6FA8DC;}
.AbstractColor {background-color: #C77DFF;}
.AerialColor {background-color: #7DA2A9;}
.NightColor {background-color: #2C2F4A; color: var(--text-light) !important;}
.AstrophotographyColor {background-color: #1A1B3A; color: var(--text-light) !important;}
.DocumentaryColor {background-color: #8C8C8C;}
.DefaultColor {background-color: #B0CBC1;}
.AnythingGoesColor {background-color: pink;}


/* ----------------------------------- */
/* ---------- MOBILE LAYOUT ---------- */
/* ----------------------------------- */
@media (max-width: 600px) {
  :root { 
      --main-margin: 60px;
  }
} 