.profileContainer {
  height: 45px;
  display: flex;
}

.hamburger {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburgerIcon {
  height: 100%;
  filter: var(--iconToggleTheme);
  margin-right: 1rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1px;
  background-color: var(--navigate-menu);
  border-bottom: 1px solid var(--text);
  opacity: 0.955;
  padding: 1.5rem 0;
  z-index: 1000;
}

.username {
  margin-right: 1rem;
  color: var(--text-light);
  opacity: 0.8;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.menuBtn {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-light);
  letter-spacing: 0.05rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  opacity: 1;
  border-bottom: 1px solid var(--navigate-menu);
}

.menuBtn:hover {
  border-bottom: 1px solid var(--text-light);
  color: white;
}

@media (max-width: 600px) {
  .navbar {
    height: 50px;
  }

  .hamburger {
    height: 35px;
    width: 35px;
  }
}