.navbarBackground {
    background-color: var(--bg);
    padding: 2rem
}

.navbarContainer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    height: 55px;
    background: var(--navigate-menu);
    border: 1px solid black;
    border-radius: 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 9999;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    padding: 0.1rem;
}


.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 0.3rem;
}

.navIcon{
    width: 1.6rem;
    aspect-ratio: 1/1;
    filter: var(--navigate-icon); 
}

.navTitle {
    text-transform: uppercase;
    color: var(--navigate-text);
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: -0.2rem;
}

.active .navIcon {
    filter: brightness(0) saturate(100%) invert(100%);
    width: 1.8rem;
}

.active .navTitle {
    color: var(--text-light);
    font-weight: 700;
}

@media (max-width: 600px) { 

.navbarContainer {
    bottom: 5px;
    padding: 0;
    height: 50px;
}

.navIcon{
    width: 1.4rem;
}

.navTitle {
    font-weight: 500;
}

}