.profileBackground {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightgray;
    border: 2px solid var(--text);
}

.avatar {
    width: 60%;
    object-fit: cover; 
}

.logo,
.picture {
    width: 100%;
    object-fit: cover;
}
